// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
//$blue: #109cf1;
//$indigo: #6574cd;
//$purple: #885af8;
//$pink: #f66d9b;
//$red: #f7685b;
//$orange: #f6993f;
//$yellow: #ffb946;
//$green: #2ed47a;
//$teal: #4dc0b5;
//$cyan: #6cb2eb;
//
//$darkbluetext: #334d6e;
//$gray: #90a0b7;
//$icongray: #c2cfe0;
//$white: #ffffff;
//$black: #192a3e;
//$tableblack: #323c47;
//$tablegray: #707683;



// ****** Bootstrap variables redefine
$enable-rounded: false;

$input-btn-focus-width:         .9rem;
$input-btn-focus-color-opacity: .1;
$input-btn-focus-box-shadow: none;



